#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body{
  background-color: #becbf5;
}

@keyframes slide {
    0% {
      transform: translateX(-100%);
    }
    50% {
      transform: translateX(300%);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  .animate-slide {
    animation: slide 2s ease-in-out infinite;
  }